* {
    text-decoration: none;
    list-style: none;
}
.colon:after {
    content: ":";

}

.nav-header {
    display: flex;
    border: 1px solid green;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;;
}

.nav-header li, .nav-header ul{
    display: flex;
    gap: 10px;
    margin: 0;
    /* padding: 0; */
    /* border: 1px solid green; */
}

.right-nav {
    border: 1px solid blue;
    padding: 5px;
}
.right-nav:hover {
    cursor: cell;
}
#time {
    cursor: auto;
}

#javascriptCode {
    background: transparent;
}

#javascriptCode:hover {
    background: gainsboro;
}
.headerThree {
    display: flex;
    align-items: baseline;
    gap: 4px;
}