ul {
    display: flex;
    gap: 1em;
    flex-wrap: wrap;
    list-style: none;
    text-decoration: none;
    padding: 0;

}
li{ 
    width: 50px;
    height: 50px;
    background-color: black;
    color: white;
    list-style: none;
    text-decoration: none;
}
.date {
    display: flex;
}
.dot {
    background: linear-gradient( /* https://www.google.com/search?q=how+to+split+color+in+a+div+css&oq=how+to+split+color+in+a+div+css&aqs=chrome..69i57.4588j0j7&sourceid=chrome&ie=UTF-8#kpvalbx=_0piOY7G4BNHAytMPrJ-loAg_41 */
        to top,
        pink 0%,
        pink 50%,
        black 50%,
        black 100%
    );
    width: 25px;
    height: 25px;

}